.availability {
  margin-top: 70px;
  margin-bottom: 70px;

  @mixin atMedium {
    margin-top: 0px;
  }
  @mixin atLarge {

  }
  & .textContent {
    @mixin atMedium {
      margin-top: 130px;
      padding-left: 30px;
      padding-right: 30px;

    }
    @mixin atLarge {
      margin-top: 70px;
      padding: 60px 20px 0px 60px;
    }
  }
  &--leftTitle{
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.7rem;
    @mixin atMedium {
      font-size: 2rem;
      text-align: left;
    }
    @mixin atLarge {
      font-size: 2.4rem;
    }
  }

  &--leftSubtitle{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-weight: bold;
    @mixin atMedium {
      font-size: 1.4rem;
      text-align: left;
    }
    @mixin atLarge {
      font-size: 1.7rem;
    }
  }

  &--leftPara{
    margin-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: bold;
    @mixin atMedium {
      text-align: justify;
      margin-top: 35px;

    }
    @mixin atLarge {
      text-shadow: none;
      font-size: 1.3rem;
      line-height: 1.8rem;
      margin-top: 40px;
      max-width: 470px;
    }
  }

  &--widget{
    text-align: center;
    padding-bottom: 20px;
    @mixin atMedium {
      padding-top: 130px;
      padding-bottom: 40px;
    }
    @mixin atLarge {
      padding-top: 180px;
      padding-bottom: 50px;

    }
    &--title{
      color: #000;
      letter-spacing: 3px;
      padding-bottom: 5px;
      font-size: 1.8rem;
      @mixin atMedium {
        letter-spacing: 5px;

      }
      @mixin atLarge {
        font-weight: 300;
        font-size: 3.5rem;
        letter-spacing: 7px;

      }
    }
    &--para{
      padding-top: 10px;
    }
  }


  &--calendar {
    display: none;
    @mixin atLarge {
      display: inline-block;
      padding-left: 25px;
    }
  }


}


.SmallerCalendar {
  display: inline-block;
  width: 204px;
  height: 250px;
  @mixin atLarge {
    display: none;
  }
}


.availabilityMiddleSection {
  margin-bottom: 70px;

  @mixin atMedium {

  }
  &--headline {
    text-align: center;
  }

  &--para {
    z-index: 3;
    width: 420px;
    margin-bottom: 10px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    @mixin atMedium {
      width: 650px;
      margin-bottom: 30px;
      font-size: 1.2rem;
    }
    @mixin atLarge {
      font-size: 1.4rem;
      width: 600px;
    }
  }

  &--link {
    font-weight: 500;
  }

  &-middleImage {
    display: none;
    @mixin atMedium {
      & > picture > img {
        border-radius: 5px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
      }
    }
    @mixin atLarge {
      display: block;
      margin-top: 130px;
      margin-left: 70px;
    }
  }
}
