.directArrow{
  width: 25px;
  height: auto;
  font-size: 1.3rem;
  border-radius: 50%;
  position: absolute;
  opacity: 0.6;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: All 0.3s ease-in;


  &:hover{
    /*background-color: #000;*/
    opacity: 1;
    color: $mainGold;

  }
  &-up{
    transform: rotate(90deg);
    padding-right: 2px;
    margin-left: 30px;
  }

  &-down{
    transform: rotate(-90deg);
    padding-right: 2px;

    &--carousel{
      display: none;
      @mixin atMedium {
        border: 3px solid #000;
        display: block;
        top: 90%;
        left: 48.5%;
        &:hover{
          background-color: #000;
          color: $mainGold;
          transform: scale(1.1) rotate(-90deg);
        }
      }
    }
  }

}


.arrowGroup{
  display: none;
  @mixin atMedium {
    display: inline-block;
  }
}
