.footer {
  background-color: $mainGold;
  background: linear-gradient(0deg, rgba(#ccbe9a, 0.85) 0%, rgba(#ccbe9a, 1) 100%);
  text-align: center;
  height: 150px;
  padding-top: 40px;
  font-weight: bold;

  &--contact{
    width: 100%;
    margin: 0 auto;
    // border: 1px solid red;
    & ul {
      display: inline-block;
      & li {
        float: left;
        border-right: 1px solid #000;
        &:last-child{border-right: none;}
        padding-right: 5px;
        padding-left: 5px;
        font-size: 0.7rem;
        // border: 1px solid green;
      }
    }
  }

  &--nav{
    padding-top: 2px;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid blue;
    & ul {
      display: inline-block;
      & li {
        float: left;
        border-right: 1px solid #000;
        &:last-child{border-right: none;}
        padding-right: 5px;
        padding-left: 5px;
        font-size: 0.7rem;
        // border: 1px solid purple;
      }
    }
  }
  &--address{
    padding-top: 4px;
    font-size: 0.7rem;
  }
  &--devLink{
    padding-top: 6px;
    font-size: 0.7rem;
    & a {

    }
  }
}
