.gallery {
  &--imgContainer {
    display: flex;
    flex-wrap: wrap;
  }

  &--imgContainer a  {
    flex-basis: 100vw;
    @mixin atMedium {
      flex-basis: auto;
      flex-grow: 1;
      padding: 5px;
    }
    & img {
      width: 100%;
      height: auto;
      transition: all 2s ease;

      &:hover{
        transform: scale(1.06);
      }
    }
  }
}

.galleryContent .headline {
  font-size: 3.4rem;
  font-weight: 300;
  margin: 80px 0px;

}
