.header {
  height: 120px;
  width: 100%;
  max-height: 150px;
  min-width: 340px;
  position: relative;
  text-align: center;
  font-weight: bold;


  @mixin atMedium {
    max-height: none;
    height: 170px;
  }
  @mixin atLarge {
    /*height: 17vh;*/
  }


  &-title {
    padding-top: 20px;
    font-size: 2.3rem;
    letter-spacing: .6rem;
    font-variant: small-caps;
    /*text-shadow: 1px 1px 4px #000;*/

    @mixin atMedium {
      padding-top: 13px;
      font-size: 3.4rem;
      letter-spacing: 1rem;
    }
  }

  &-subtitle{
    font-size: 1.2rem;
    font-variant: small-caps;
    letter-spacing: .4rem;
    /*text-shadow: 1px 1px 4px rgba(#000, 0.8);*/

    @mixin atMedium {
      font-size: 1.8rem;
      letter-spacing: .6rem;
    }
  }

  &-email{
    /*text-shadow: 1px 1px 4px rgba(#000, 1);*/
    padding-top: 8px;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: bold;
    /*font-style: italic;*/
    opacity: 0.8;


    @mixin atMedium {
      padding-top: 10px;
      font-size: 1.4rem;
      letter-spacing: .3rem;
    }
  }
}
