.header {
  height: 120px;
  width: 100%;
  max-height: 150px;
  min-width: 340px;
  background-color: $mainGold;
  background: linear-gradient(0deg, rgba(#ccbe9a, 0.85) 0%, rgba(#ccbe9a, 1) 100%);
  position: relative;
  text-align: center;


  @mixin atMedium {
    // height: 20vh;
    height: 150px;
  }
  @mixin atLarge {
    max-height: none;
    height: 20vh;
  }


  &-title {
    padding-top: 20px;
    font-size: 1.7rem;
    letter-spacing: .6rem;
    font-variant: small-caps;
    text-shadow: 1px 1px 4px #000;

    @mixin atMedium {
      padding-top: 13px;
      font-size: 2.7rem;
      letter-spacing: 1rem;
    }
  }

  &-subtitle{
    font-size: 1.2rem;
    font-variant: small-caps;
    letter-spacing: .4rem;
    text-shadow: 1px 1px 4px rgba(#000, 0.8);

    @mixin atMedium {
      font-size: 1.6rem;
      letter-spacing: .6rem;
    }
  }

  &-email{
    text-shadow: 1px 1px 4px rgba(#000, 1);
    padding-top: 8px;
    font-size: 0.8rem;
    letter-spacing: .1rem;
    font-weight: 300;
    font-style: italic;
    opacity: 0.8;


    @mixin atMedium {
      padding-top: 12px;
      font-size: 1.2rem;
      letter-spacing: .3rem;
    }
  }
}
