.headline {
  font-variant: small-caps;

  &--centered{
    text-align: center;
  }

  @mixin atMedium {

    font-size: 1.4rem;
  }


  @mixin atLarge {
    font-size: 2.2rem;
  }


}.headline--marginBottom {
  margin-bottom: 50px;

  @mixin atMedium {
    margin-bottom: 55px

  }

  @mixin atLarge {
    margin-bottom: 60px

  }
}
