.headline {
  font-variant: small-caps;

  &--centered{
    text-align: center;
  }

  @mixin atMedium {

    font-size: 1.4rem;
  }


  @mixin atLarge {
    font-size: 2.2rem;
  }

  &--large {
    @mixin atMedium {
      font-size: 3rem;
    }
  }

  &--small{
    @mixin atLarge {
      font-size: 1.7rem;
    }
  }


}
