.topSection {
  margin-top: 30px;
  &--headline {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    @mixin atMedium {
      font-size: 1.8rem;
      margin-top: 50px;
      margin-bottom: 40px;
      margin-left: 50px;
    }
    @mixin atLarge {
      font-size: 2.3rem;
      margin-top: 50px;
      margin-bottom: 55px;
    }

  }

  &--para {
    z-index: 123;
    margin-bottom: 10px;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    @mixin atMedium {
      padding: 0;
      margin-bottom: 30px;
      font-size: 1.2rem;
    }
    @mixin atLarge {
      line-height: 1.86rem;
      font-size: 1.4rem;
      width: 560px;
    }
  }

  &--checkAvailability {
    text-align: center;

    & > h2 > span {
      font-size: 1.5rem;
      color: rgba(#DC143C,0.9);
      font-weight: 400;
    }
    @mixin atMedium {
      margin-top: 10px;
      padding-left: 0;

    }
    @mixin atLarge {
      padding-left: 0;
    }
  }

}
