
.houseTopContent{
  margin-top: 30px;
  margin-bottom: 50px;

  @mixin atMedium {
    margin-bottom: 60px;
  }
  @mixin atLarge {
    margin-bottom: 130px;
  }

  & img {
    display: none;
    @mixin atLarge {
      display: block;
      width: 90%;
      border-radius: 5px;
      margin-top: 15px;
      box-shadow: 4px 4px 5px rgba(0,0,0,0.6);
    }
  }
  &--title {
    text-align: center;
    @mixin atMedium {
      font-size: 1.9rem;
    }
    @mixin atLarge {
      font-size: 2rem;
    }
  }
  &--para {
    text-align: justify;
    margin: 0 auto;
    width: 450px;
    font-weight: 400;
    font-size: 1.2rem;
    @mixin atMedium {
      width: 600px;
      font-size: 1.4rem;
    }
  }

}


.houseDetails{
  & .row {
    margin-bottom: 50px;
  }

  & img {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.6);
  }

  &--textContent{
    // position: relative;
    text-align: center;
    padding: 0px 20px 0px 20px;

    &-title{
      color: $darkGold;
      font-size: 2.8rem;
      font-weight: bold;
    }
    &-line{
      display: none;
    }
    &-para{
      margin-top: 10px;
      font-size: 1.2rem;
      text-align: justify;
      margin-bottom: 25px;
    }
  }

  @mixin atMedium {

    & img {
      width: 100%;
      min-height: 280px;
      border-radius: 5px;
    }
    &--textContent{
      text-align: left;
      &-title{
        font-size: 1.8rem;
      }
      &-line{
        display: block;
        width: 170px;
        border: 1px solid $mainGold;
      }
      &-para{
        font-weight: normal;
        font-size: 1.3rem;
        line-height: 1.4rem;
      }
    }
  }
  @mixin atLarge {

    & img {
    }
    &--textContent{
      margin-left: 30px;
      width: 90%;

      &-title{
        font-size: 2.3rem;
      }
      &-line{
        margin-top: 15px;
        margin-bottom: 15px;

      }
      &-para{
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
    }
  }
}

.buffer--bottom {
  margin-bottom: 30px;
}
