.houseTopContent{
  margin-bottom: 20px;
  & img {
    width: 100%;
  }
  &--title {
    text-align: center;
    font-size: 2rem;
  }
  &--para{
    font-size: 1.1rem;
    text-align: justify;
    @mixin atMedium {
      font-size: 1.3rem;

    }
  }
}


.houseDetails{
  padding-top: 30px;
  margin-bottom: 30px;

  &--imageHolder{
    // border: 1px solid purple;

  }
  & img {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }

  &--textContent{
    // border: 1px solid purple;
    display: inline-block;
    z-index: 22;
    position: relative;
    text-align: center;

    &-title{
      color: $darkGold;
      font-size: 1.8rem;
      font-weight: bold;
    }
    &-line{
      display: none;
    }
    &-para{
      // border: 1px solid red;
      margin-top: 10px;
      font-size: 1.2rem;
      width: 100%;
      text-align: justify;
    }
  }

  @mixin atMedium {
    & img {
      position: static;
      width: 100%;
      margin-bottom: 0px;

    }
    &--textContent{
      padding-left: 5px;
      background-color: $lighterGold;
      position: static;
      width: 100%;
      text-align: left;
      &-title{
        width: 260px;
        padding-right: 10px;
        padding-bottom: 10px;
      }
      &-line{
        display: block;
        width: 170px;
        border: 1px solid $mainGold;
      }
      &-para{
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
        padding-right: 20px;
      }
    }
  }
  @mixin atLarge {
    & img {
      margin-top: 20px;
      width: 450px;
      height: 300px;

    }
    &--textContent{
      // padding-left: 30px;
      margin-top: 20px;
      margin-left: 50px;
      height: 420px;
      width: 50%;

      &-title{
        width: 340px;
      }
      &-line{
        margin-top: 15px;
        margin-bottom: 20px;

      }
      &-para{
        font-size: 1.5rem;
        line-height: 1.8rem;
        padding-right: 0px;
      }
    }
  }
}
