.parallaxContainer{
  margin: 0 auto;
  background: $lightGold;
  padding: 0px;

  & h2 {
    text-align: center;
    padding-top: 40px;
  }
  & p {
    text-align: justify;
    width: 70%;
    margin: 0 auto;
    padding: 20px 0px 40px 0px;
    font-size: 1.4rem;
  }
}

.parallax {

  &--island {
    background: url('../../assets/images/parallaxFolder/islandPicture.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 300px;
  }
  &--lounge {
    background: url('../../assets/images/parallaxFolder/lounge.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  &--kitchen {
    background: url('../../assets/images/parallaxFolder/kitchen.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  &--bedroom {
    background: url('../../assets/images/parallaxFolder/bedroom.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  &--bedroom2 {
    background: url('../../assets/images/parallaxFolder/bedroom2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  &--bathroom {
    background: url('../../assets/images/parallaxFolder/bathroom.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  &--bathroom2 {
    background: url('../../assets/images/parallaxFolder/bathroom2.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
  &--house {
    background: url('../../assets/images/parallaxFolder/house.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
  }
}
