.parallaxContainer{
  margin: 0 auto;
  background: $lightGold;
  padding: 0px;

  & h2 {
    text-align: center;
    padding-top: 40px;
  }
  & p {
    text-align: justify;
    width: 70%;
    margin: 0 auto;
    padding: 20px 0px 40px 0px;
    font-size: 1.4rem;
  }
}

.parallax {

  &--island {
    background: url('docs/assets/images/parallax/island.JPG') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
  }
  &--lounge {
    background: url('docs/images/parallax/lounge.JPG') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
  }
  &--kitchen {
    background: url('../../assets/images/parallax/kitchen.JPG') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
  }
  &--bedroom {
    background: url('../../assets/images/parallax/bedroom.JPG') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
  }
  &--bedroom2 {
    background: url('https://hamedpour.github.io/HolidayHomes/assets/images/parallax/bedroom2.JPG') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
  }
  &--bathroom {
    background: url('https://hamedpour.github.io/HolidayHomes/assets/images/parallax/bathroom.JPG') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
  }
  &--bathroom2 {
    background: url('https://hamedpour.github.io/HolidayHomes/assets/images/parallax/bathroom2.JPG') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
  }
  &--house {
    background: url('https://hamedpour.github.io/HolidayHomes/assets/images/parallax/house.JPG') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 400px;
  }
}
