.priceSection {
  overflow: hidden;
  border: 1px solid red;

  height: 600px;

  &-leftContainer{
    text-align: center;
    &--headline{
      text-align: justify;
      width: 60%;
      margin:0 auto;
      margin-top: 20px;
      margin-bottom: 10px;

      @mixin atMedium {
        margin-top: 30px;
        margin-bottom: 20px;
      }
      @mixin atLarge {
        margin-top: 50px;
        margin-left: 90px;
        margin-bottom: 35px;
      }
    }



    &--para{
      margin-bottom: 10px;

      @mixin atMedium {
        text-align: justify;
        margin-left: 100px;
        margin-bottom: 50px;

      }
      @mixin atLarge {
        width: 450px;
        margin-left: 150px;
      }
    }



    &--priceTag{
      font-weight: bold;
      margin-top: 50px;
      @mixin atMedium {
        margin-left: 90px;
      }
      @mixin atLarge {

        font-size: 1.1rem;
        margin-left: 65px;
      }

      & > a {
        color: rgba(#F00, 0.8);
        font-weight: 400;
      }
    }


    &--checkAvailability{
      display: inline-block;

      @mixin atMedium {
        margin-left: 50px;
      }

    }


    &--viewImage{
      display: none;
      width: 400px;
      height: auto;
      margin-top: 20px;
      @mixin atMedium {
        display: block;
        margin-left: 100px;
      }
      @mixin atLarge {
        margin-left: 150px;
      }
    }
  }

  &-rightContainer {
    text-align: center;

    &--islandImage{
      opacity: 0.7;
      @mixin atMedium {
        position: static;
        opacity: 0.4;
        margin-top: 30px;
      }
      @mixin atLarge {
        margin-top: 50px;
      }

    }

    &--toLocation > a{

      position: relative;
      top: -100px;
      @mixin atMedium {
        text-shadow: 1px 1px 3px rgba(#000, 0.8);
        color: $mainGold;
        font-size: 1.2rem;
        letter-spacing: 2px;
        left: 70px;
        top: -80px;

      }
      @mixin atLarge {
        left: 100px;
        top: -90px;
      }
    }

    &--houseLink > h2 > a{
      font-size: 1.3rem;
      font-weight: 300;
      text-shadow: 1px 1px 3px rgba(#000, 0.8);
      letter-spacing: 8px;

      @mixin atMedium {
        position: relative;
        right: 50px;
        top: 100px;
      }
      @mixin atLarge {
        right: 200px;
        top: 20px;
        font-size: 1.4rem;
      }
    }

    &--arrowGroup {
      text-align: left;
      border: 1px solid green;
      position: relative;
      @mixin atMedium {
        right: -420px;
        top: 120px;
      }
      @mixin atLarge {
        left: 560px;
        top: 40px;
      }
    }
  }
}
