.roomFeatures{

  & img {
    min-width: 360px;
    height: 240px;
    left: 0;
    position: absolute;
    z-index: 20;
  }

  &--textContent{
    z-index: 22;
    position: relative;
    text-align: left;


    &-title{
      width: 270px;
      font-size: 1.8rem;
      font-weight: bold;
      padding-left: 10px;
    }
    &-line{
      width: 170px;
      border: 1px solid #000;
      margin-left: 20px;
    }
    &-para{
      text-shadow: 1px 1px 9px #fff;
      margin-left: 10px;
      margin-top: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      width: 220px;
    }
  }

  @mixin atMedium {

    margin-left: 25px;
    & img {
      position: static;
      width: 450px;
      height: 300px;
    }
    &--textContent{
      padding-top: 20px;
      padding-left: 15px;
      background-color: $lighterGold;
      position: static;
      width: 250px;
      height: 300px;
      &-title{
        width: 260px;
        padding-right: 10px;
        padding-bottom: 10px;
      }
      &-line{
        border: 1px solid $mainGold;
      }
      &-para{
        font-weight: normal;
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
  }

  @mixin atLarge {
    margin-left: 50px;
    & img {
      width: 620px;
      height: 420px;

    }
    &--textContent{
      padding-top: 50px;
      padding-left: 50px;
      width: 380px;
      height: 420px;

      &-title{
        width: 340px;
      }
      &-line{
        margin-left: 50px;
        margin-top: 15px;
        margin-bottom: 20px;

      }
      &-para{
        width: 290px;
        font-size: 1.5rem;
        line-height: 1.8rem;
      }
    }
  }

  &--extension{
    margin-top: 70px;
    @mixin atMedium {
      margin-top: 0px;

    }
    & > .row {
      margin-top: 30px;
      @mixin atMedium {
        margin-top: 50px;

      }
    }
  }
  &--roomDetailsBtn{
    font-variant: small-caps;
    text-align: center;
    position: relative;
    top: 50px;
    @mixin atMedium {
      top: 30px;
      margin-top: 10px;
      padding-bottom: 20px;
    }
    & a {
      opacity: 0.7;
      transition: all 0.9s ease;
      border-radius: 10px;
      border: 2px solid #000;
      font-size: 1.3rem;
      padding: 5px 9px 6px 9px;
      font-weight: normal;
      background: linear-gradient(90deg,$mainGold 20%, $lightGold 110%);

      &:hover{
        opacity: 1;
      }
      @mixin atMedium {
        font-size: 1.6rem;

      }
      @mixin atLarge {
        font-size: 2rem;

      }
    }
  }
}
