.menu_burger_Button {
  z-index: 999;
  right: 10px;
  top: 10px;
  opacity: 1;
  position: fixed;
  font-size: 1.6rem;
  color: #000;
  transform: scale(0.9);
  transition: ALL .8s;
  cursor: pointer;

  @mixin atMedium {
    display: none;
  }
}



.menu_burger_closeButton{
  color: #000;
  font-size: 1.9rem;
  margin: 5px 10px;
  float: right;
  transition: ALL .8s;
  opacity: 0.8;
}
