.testimonials {
  display: flex;
  flex-direction: column;
  text-align: center;
  @mixin atMedium {

  }

  @mixin atMedium {
    flex-direction: row;
  }

  & img {
    border-radius: 50%;
    position: relative;
    top: 40px;
  }


  &--box{
    border: 1px solid $mainGold;
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
    @mixin atMedium {
      margin-bottom: 0px;
      margin-left: 10px;
      margin-right: 10px;
    }
    @mixin atLarge {

    }
  }

  &--para {
    line-height: 2rem;
    font-size: 1.1rem;
    padding: 20px;
    @mixin atMedium {
      padding-top: 30px;
      font-size: 1.3rem;
    }
    @mixin atLarge {
      font-size: 1.4rem;
      padding: 40px;

    }
  }

  &--quoteMark{
    font-size: 1.5rem;
  }
}
